<footer>
    <div class="container-fluid" id="footer-container" style='margin-left:15px'>
        <p>
            <a href="https://github.com/atomicwest" target="blank">
                <img alt="Brand" src="assets/img/github48x48.png">
            </a> | 
            <a href="https://atomicprime.wordpress.com" target="blank">
                <img alt="Brand" src="assets/img/wordpress48x48.png">
            </a>
        </p>
    </div>
</footer>