<h3 id="score"></h3>



<h2 id="test"></h2>

<style>
body {
    padding: 0;
    margin: auto;
    display: block;   
}
</style>

    
<canvas id="gamecanvas" onload="startGame()"></canvas>
<script type="text/javascript" src="assets/js/game/test_total.js"></script>    
<script type="text/javascript" src="assets/js/game/gameAjax.js"></script>
