<ul class="navul">
    <li class="navli"><a class="navbar-brand" href="/">
        <img alt="Brand" src="assets/img/sun48x48.png">
      </a></li>
    <li class="active navli"><a href="/">Home <span class="sr-only">(current)</span></a></li>
    <li class="navli"><a href="/dodgeGame">Dodgeball Game</a></li>
    <li class="navli"><a href="/halloffame">Hall of Fame</a></li>
</ul>

