<!DOCTYPE html>
<html>
    <head>
        <title>Dodgeball Game</title>
        <% include partials/mainSJ.ejs %>
        <script type="text/javascript" src="assets/js/game/gameAjax.js"></script>    
    </head>
    
    <% include partials/nav.ejs %>
    
    <body onLoad="startGame()">
        <div class="container container-main">
            <h2>Dodgeball</h2>
            <h3 id="score"></h3>
            <h2 id="gameover"></h2>
            <div class="center-block" id="gameblock">
                <div id="canvasdiv" class="container-canvas" onLoad="startGame()">
                    <canvas id="gamecanvas" width="640" height="480"></canvas>
                    <script type="text/javascript" src="assets/js/game/gameAll.js"></script>    
                </div>
            </div>
        </div>
        
    </body>

    <% include partials/footer.ejs %>
</html>