<!DOCTYPE html>
<html>
    <head>
        <title>Hall of Fame</title>
        <% include partials/mainSJ.ejs %>
        
    </head>
    
    
    <% include partials/nav.ejs %>
    <body>
        <h2>Leaderboard</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="nametable">Name</th>
                    <th class="scoretable">Score</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0; i<scores.length; i++){ %>
                    <tr>
                        <td class="nametable"><%= scores[i].name %></td>
                        <td class="scoretable"><%= scores[i].score %></td>
                    </tr>
                <%  }; %>
            </tbody>
        </table>

    </body>
    <% include partials/footer.ejs %>
</html>