<!DOCTYPE html>
<html>
    <head>
        <title>Dodgeball Game</title>
        <% include partials/mainSJ.ejs %>
        
    </head>
    
    <% include partials/nav.ejs %>
    <h1>DodgeBall</h1>
    <body>
        <div class="container">
            
            <div class="row">
                <div class="center-block">
                    <p>Use your mouse to avoid the incoming obstacles!</p>
                    <a id="homebtn" href="/dodgeGame" class="btn btn-primary">Click to Play</a>
                </div>
            </div>
            
        </div>
    </body>

    <% include partials/footer.ejs %>
</html>